.carousel {
    &__indicators {
        & > li {
            @include create-square(25px);
            border-radius: 50%;
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__image {
        background-repeat: no-repeat;
        background-position: center top;
        @media #{$mq-small} { 
            background-size: cover;
        }   
    }
}