main, article, header, nav, section, aside, footer {
	display: block;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
main {
	margin-bottom: $section-spacing;
}
// Buttons and links
.btn-primary {
	background-color: $color-highlight;
	border-color: $color-highlight;
	&:hover {
		background-color: darken($color-highlight, 8%);
	}
}
a {
	color: $color-text;
	&:hover {
		text-decoration: none;
		color: $color-highlight;
	}
}
// Cards
.card {
    max-width: 520px;
    margin-top: $section-spacing / 2;
    border-color: $color-borders;
    &__image {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    &__text {
        color: lighten($color-text, 40%);
    }
    &__button {
        width: 50%;
    }
}
// Forms
form {
	.form-control {
		border: none;
		margin-bottom: 1.8rem;
	}
}
// Visual effects
.shadow {
	z-index: 10;
	box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .2)!important;
}