// Fonts
$noto-serif-stack: 'Noto Serif', 'Times New Roman', serif;
$lato-stack: 'Lato', 'Helvetica', 'Arial', sans-serif;

$font-headlines: $noto-serif-stack;
$font-text: $lato-stack;

$light: 300;
$regular: 400;
$bold: 700;

// Colors
$black: #000;
$white: #FFF;
$pink: #E82569;
$lightgrey: #EFEFEF;
$darkgrey: #969696;

$color-text: $black;
$color-bg: $white;
$color-highlight: $pink;
$color-bg-shade: $lightgrey;
$color-icons: $darkgrey;

// Layout
$section-spacing: 50px;

// Media queries
$mq-small: "screen and (max-width: 767px)";