// Fonts
$noto-serif-stack: 'Noto Serif', 'Times New Roman', serif;
$lato-stack: 'Lato', 'Helvetica', 'Arial', sans-serif;

$font-headlines: $noto-serif-stack;
$font-copy: $lato-stack;

// Colors
$black: #000;
$white: #FFF;
$pink: #E82569;
$lightgrey: #EFEFEF;
$darkgrey: #969696;

$color-copy: $black;
$color-bg: $white;
$color-highlight: $pink;
$color-bg-header: $lightgrey;
$color-icos: $darkgrey;