.main-carousel {
    padding: 0;
    &__indicators {
        & > li {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}