
.main-carousel {
    padding: 0;
    &__indicators {
        & > li {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__image {
            max-width: 1400px;
            height: 400px;
            background-repeat: no-repeat;
            left: 40px;
            
        &--1 {
            background-image: url('../images/carousel/carousel-1.jpg');
        }
        &--2 {
            background-image: url('../images/carousel/carousel-2.jpg');
        }
        &--3 {
            background-image: url('../images/carousel/carousel-3.jpg');
        }
    }
}