.page-header {
    background-color: $color-bg-shade;
    &__logo {
        @extend %headlines;
        font-style: italic;
        font-size: 22px;
        &.navbar-brand {
            color: $color-highlight;
            &:hover {
                color: darken($color-highlight, 8%);
            }
        }
    }
    &__nav {
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
        .navbar-nav .nav-link {
            color: $color-text;
            font-weight: $light;
            text-align: center;
            padding-left: 1.2rem;
            padding-right: 1.2rem;
            &:hover {
                background-color: lighten($color-bg-shade, 2%);
                color: inherit;
            }
            &.active {
                background-color: $color-bg;
                border-bottom: 1px solid $color-text;
                
            }
           
        }
        .navbar-toggler {
            color: $color-icons;
            border: none;
            font-size: 1.8rem;
        }
    
        
    }

}