.page-header {
    background-color: $color-bg-shade;
    &__logo {
        @extend %headlines;
        font-style: italic;
        &.navbar-brand {
            color: $color-highlight;
            &:hover {
                color: darken($color-highlight, 8%);
            }
        }
        
        
    }

}