.introduction {
    margin-top: $section-spacing;
}

.featured-tabs {
    margin-top: $section-spacing;
    padding: 0 15px;
    &__tabs {
        border-color: $color-borders;
        border-bottom-style: none;
        margin-bottom: -1px;
        z-index: 1000;
        .nav-link {
            color: lighten($color-text, 20%);
            &:hover {
                color: $color-text;
            }
        }
        .nav-link.active {
            background-color: $color-bg-shade;
            color: $color-text;
            border-color: $color-borders;
            border-bottom-style: none; 
        }
    }
    &__content {
        padding: 2rem;
        border: 1px solid $color-borders;
        border-radius: 5px;
        border-top-left-radius: 0;
        background-color: $color-bg-shade;
    }
    &__tab-label {
        color: $color-highlight;
    }
}

// Media queries
// Show all tab content on small devices and lower
@media #{$mq-small} {
    .featured-tabs {
        margin-top: 0;
        &__content {
            background-color: $color-bg;
            padding: 0;
            border: none;

            &>.tab-pane {
                margin-top: $section-spacing / 2;
                display: block;
            }
        }
    }       
}